<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="CanonicalHostNameRule1" />
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{R:1}" pattern="^(index\.php|uploads|images|utils|public|robots\.txt|css|docs|js|system)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/Project_Manager/index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
