$regular   = 'MetricRegular'
$bold      = 'MetricBold'
$medium    = 'MetricSemiBold'
$light     = 'MetricLight'
$default   = #00B58E
$volumen   = #624967
$valor     = #F79679
$color     = #425563
$transCen  = translate(-50%,-50%)
$transIzq  = translate(0,-50%)
transformCenter()
	-webkit-transform $transCen
    -moz-transform $transCen
    -ms-transform $transCen
	-o-transform $transCen
	transform $transCen
transformIzq()
	-webkit-transform $transIzq
    -moz-transform $transIzq
    -ms-transform $transIzq
	-o-transform $transIzq
	transform $transIzq
transformTransition()
	-webkit-transition transform .2s linear
	-moz-transition transform .2s linear
	-ms-transition transform .2s linear
	-o-transition transform .2s linear
	transition transform .2s linear
widthTransition()
	-webkit-transition max-width .2s linear
	-moz-transition max-width .2s linear
	-ms-transition max-width .2s linear
	-o-transition max-width .2s linear
	transition max-width .2s linear
selectTransparent()
	outline 0 !important
	box-shadow none !important
	background-color transparent !important
center()
	position absolute
	top 50%
	left 50%
	width 100%
	margin auto
	transformCenter()
	transformTransition()
flexCenter()
	display flex
	display -webkit-flex
	align-items center
	justify-content center
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular
label
	font-weight 100
#promo
	height 82px
.section
	position relative
	padding 20px
	
.center-login
	height 100vh
	position relative
.fondo-imagen
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background url(../img/logo/fondo_hpe.jpg) center center no-repeat
	background-size cover !important
	width 100%
	height 100%
	&.forget
		background url(../img/logo/fondo_registro.jpg) center center no-repeat
	&.recuperar
		background url(../img/logo/fondo_recuperar.jpg) center center no-repeat
	&:BEFORE
		content ''
		background-color #000000
		opacity .6
		height 100vh
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		z-index 0
.header
	background-color $color
	padding 15px 0
	position fixed
	top 0
	left 0
	right 0
	z-index 10
	img
		width 100%
		max-width 125px
	.menu_header
		display none
		float right
		align-items center
		p 
			font-size 20px
			color #FFFFFF
			font-family $light
			margin 0
			line-height 16px
			padding-right 15px
			margin-right 15px
			border-right 1px solid #FFFFFF
		a
			color $default
			font-family $light
			font-size 20px
			text-decoration none
			cursor pointer
			line-height 16px
			vertical-align middle
			&.home
				color #FFFFFF
				i
					color #FFFFFF
					vertical-align middle
					margin-left 10px
					font-size 20px
				
	.tipo-user
		font-size 14px
		font-family $regular
		margin 0
		line-height 14px

.mdl-container
	max-width 1200px
	margin auto
	widthTransition()
	.promociones
		margin-top 100px
		.filtro
			margin 20px 0
			padding 0
			.buscador
				border 1px solid #000000
				max-width calc(100% - 245px)
				padding 3px
				margin-right 20px
				.search
					width 100%
					display inline-block
					vertical-align middle
					margin 0
					input
						box-shadow none
						border none
			.mdl-select
				width 100%
				max-width 220px
				display inline-block
				vertical-align middle
				.bootstrap-select
					width 100%
					button
						selectTransparent()
						border-color #000000
						border-radius 0
						height 42px
		.cards
			.cabecera
				border-bottom 10px solid $default
				.titulo
					font-family $bold
					font-size 32px
					margin 0
					line-height 36px
					width 100%
					max-width calc( 100% - 55px)
					display inline-block
					vertical-align middle
				.codigo
					color $default
					margin 0
					font-family $medium
					font-size 24px
					line-height 26px
				.subtitle
					font-size 26px
					margin 10px 0
					line-height 24px
				button
					max-width 50px
					display inline-block
				&.title-header
					h2
						width 100%
						max-width calc(100% - 115px)
						display inline-block
						vertical-align middle
						font-family $regular
						font-size 28px
					.selectQ
						width 100%
						max-width 110px
						button
							color $default
							border none
							max-width 100%
							font-size 20px
							background-color transparent !important
							box-shadow none
							outline none !important
							.caret
								margin-top -4px				
		.footer
			border-top 1px solid #000000
			border-bottom 2px solid #000000
			padding 20px 0
			p
				line-height 18px
			img
				width 100%
				max-width 135px
			a
				color #215E9E
				text-decoration underline
				font-family $bold
			.col-md-5
				border-right 1px solid #000000;
				border-left 1px solid #000000;
				height 160px;
		.descripcion-promo
			padding 10px 0
			margin-bottom 20px
			.fondo-color
				content ''
				width 100%
				max-width 70px
				height 20px
				display inline-block
				vertical-align middle
				&.volumen
					background-color $volumen
				&.valor
					background-color $valor
			p
				display inline-block
				vertical-align middle
				margin 0
				margin-left 10px
			h2
				margin 0
				font-size 18px
				text-align right
				line-height 20px
				font-family $medium
		.header-search
			height 0
			overflow hidden
			transition height .3s linear
			-webkit-transition height .3s linear
			-moz-transition height .3s linear
			-ms-transition height .3s linear
			-o-transition height.3s linear
			&.showfilter
				height auto
				overflow inherit
	    						
.mdl-input
	padding 7px 20px
	height 75px
	margin 0
	border 1px solid rgba(0, 0, 0, 0.15)
	background-color #FFFFFF
	margin-bottom -1px
	label
		font-family $light
		color #000000
		cursor pointer
	input
		display block
		height 36px
		width 100%
		border none
		&:focus
			outline 0
	&.input-focused
		background-color #FFFFFF
	.bootstrap-select
		width 100% !important
		.dropdown-toggle
			border none !important
			padding 6px 0
			selectTransparent()
			&:focus
				outline: 0 !important
				
.mdl-label
	padding 20px 10px

.mdl-create
	padding 20px 0
	.col-xs-6
		text-align center
.mdl-card-login
	transformIzq()
	position absolute
	top 50%
	left 0
	width 100%
	max-width 400px
	margin auto
	border none
	padding 10px
	background-color transparent
	.mdl-card__title
		display block
		padding-left 0
		h2
			font-size 42px
		p
			color #FFFFFF
			font-size 20px
			font-family $light
			margin-bottom 10px
	h2
		font-size 32px
		line-height 34px
		font-family $medium
		color #FFFFFF
		margin 10px 0
	.mdl-card__actions
		button
			width 100%
			background-color $default
			color #FFFFFF
			font-family $bold
			text-transform initial
			height: 42px
			box-shadow: none
			border-radius: 0
			font-size 16px
		.button-create
			background-color transparent
			border 2px solid #FFFFFF
			width 100%
			text-decoration none
			text-transform initial
			height 42px
			line-height 42px
			font-size 20px
			font-family $medium
			margin-top 20px
		.button-user
			width 49%
			display inline-block
			button
				border 1px solid #FFFFFF
				background-color transparent
				color #FFFFFF
				&:hover
					background-color $default
					color #FFFFFF
		.button-register
			max-width 180px
			margin-top 38px
			i
				vertical-align middle
				color #FFFFFF
				margin-right 20px
		p
			color #000000
			margin-top 10px
			margin-bottom 5px
	a 
		color #FFFFFF
		text-decoration underline
		font-family $regular
		font-size 16px
    &.mdl-card-register
		max-width 800px
		.mdl-input
			margin 10px 0
.userActive
	background-color #4FC0A6 !important
	color #FFFFFF !important
.mdl-card__supporting-text
	width 100%
	padding 0
.mdl-card-promocion
	width 49%
	max-width 590px
	display inline-block
	margin 15px 0
	float left
	padding 10px
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	&:nth-child(2n+1)
		margin-right 8px
	&:nth-child(2n)
		margin-left 8px
	.mdl-header
		background-color $volumen
		padding 0 5px
		h2
			color #FFFFFF
			font-size 16px
			margin 0
			line-height 20px
			display inline-block
			vertical-align middle
			max-width calc(100% - 135px)
			width 100%
			font-family $medium
		p
			max-width 115px
			color $volumen
			width 100%
			padding 0 20px 0 10px
			line-height 16px
			font-size 14px
			font-family $medium
			display inline-block
			vertical-align middle
			background-color #FFFFFF
			margin 0
	.mdl-contenido
		padding 10px 0
		font-size 0
		.contenido
			display inline-block
			width 55%
			vertical-align top
			.promocion
				.title
					background-color #D1D3D4
					color $volumen
					font-size 16px
					margin 0
					line-height 20px
					font-family $medium
					padding 5px
				p
					margin 0
					line-height 18px
					padding 5px
		.imagenes
			display inline-block
			width 43%
			border 1px solid #000000
			vertical-align top
			float right
			overflow hidden
			position relative
			.imagen-promocion
				width 100%
				max-width 180px
				padding 5px
			.sale
				position absolute
				background-color $default
				width 100%
				max-width 230px
				top 30px
				left -35px
				padding 3px
				-webkit-transform rotate(325deg)
				h2
					color #FFFFFF
					margin 0
					font-size 16px
					line-height 18px
					font-family $bold
				p
					color #FFFFFF
					font-size 14px
					line-height 16px
					margin 0
					font-family $medium
			.footer-promocion
				padding 5px 15px
				display flex
				align-items center
				img
					width 100%
					&:nth-child(1)
						float left
					&:nth-child(2)
						float right
.left
	text-align left
.right
	text-align right
.border-none
	border none !important
.flex
	display flex
	align-items center
.mdl-input-group
	display flex
	align-items center
	height 68px
.mdl-input-group
	.mdl-icon
		margin-right 10px
		width 100%
		max-width 30px
		text-align center
.mdl-textfield
	.mdl-button
		right 0
.table
	button
		i
			font-size 18px
			color #757575
	tbody
		tr
			td
				border 1px solid #DDDDDD
				vertical-align middle
				padding 2px 8px
	thead
		tr
			th
				border 1px solid #DDDDDD !important
				background-color $color
				color #FFFFFF
				&:after
					opacity 1 !important
.nav-tabs
	&.admin
		border none
		li
			&.active
				a
					border 3px solid transparent
					border-bottom 3px solid #4FC0A6
					&:focus
					&:hover
						border 3px solid transparent
						border-bottom 3px solid #4FC0A6
					border none
					border-bottom 2px solid #4FC0A6
					&:focus
					&:hover
						border none
						border-bottom 2px solid #4FC0A6
			a
				&:hover
					background-color transparent
					border-color transparent
				color #000000
				border 3px solid transparent
			margin 0
.bg-tipo
	content ''
	width 100%
	max-width 18px
	height 15px
	vertical-align middle
	display inline-block
	margin-right 8px
	&.volumen
		background-color $volumen
	&.valor
		background-color $valor
.mdl-card-listado
	max-width 600px
	width 100%
	.input-group-listado
		&:nth-child(2n+1)
			.col-sm-7
			.col-sm-5
				height 42px
				background-color #C1C1C1
			.col-sm-5
				border-right 1px solid #CCCCCC
		&:nth-child(2n)
			.col-sm-5
			.col-sm-7
				height 42px
				background-color #F2F2F3
			.col-sm-5
				border-right 1px solid #CCCCCC
		p
			margin 0
			padding 14px 10px
			line-height 14px
		.form-control
			border-radius 0
			border none
			width 100%
			padding 10px
			height 42px
			background-color transparent
		.bootstrap-select
			width 100% !important
			button
				selectTransparent()
				border-radius 0
				border none
				color #000000 !important
				height 42px
		.input-group-fecha
			.mdl-icon
				position absolute
				top 5px
				left 5px
			.form-control
				padding-left 40px
		.input-radio
			padding 8px
			border none
	.mdl-card__actions
		text-align left
		button
			text-transform initial
			box-shadow none
			i
				vertical-align middle
				font-size 18px
				margin-right 5px
.mdl-card__menu
	top 8px
	right 8px
#ModalBorrarOferta
	.mdl-card
		min-height 100%
		.mdl-card__actions
			padding 20px
			padding-top 0
			button
				background-color red
				text-transform initial
				color #FFFFFF
				font-family $medium
.fixed-logo
	position absolute
	top 50px
	left 50px
	z-index 5
.title-manager
	h2
		font-family $medium
		font-size 40px
		margin 0
.mdl-radio__ripple-container
	.mdl-ripple
		background #314B5F
.mdl-radio__inner-circle
	background #314B5F
.mdl-radio
	line-height 28px
	&.is-checked
		.mdl-radio__outer-circle
			border 2px solid #314B5F
#principal
	height 550px
	overflow hidden
	padding 0
	position relative
#principal
	.owl-carousel
		position relative
		bottom 0
		top 0
		left 0
		right 0
		width 100%
		z-index 1
		max-width 100%
#principal
	.owl-stage-outer
	.owl-stage
		height 550px
	.owl-carousel
		.owl-item
			height 550px
			.item
				height 550px
				img
					height 550px 
					&.img-instasale
						height 100%
#principal
	.owl-carousel
		.owl-item
			.item
				&:AFTER
					position absolute
					content ''
					top 0
					right 0
					left 0
					opacity 0.3
					z-index 2
					background-color #000000
					width 100%
					height 100%
				&.opacity-5
					&:AFTER
						opacity 0.6
				.imagen
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					&.one
						background url(../img/promociones/Header_1.jpg) no-repeat center center
						background-size cover
					&.two
						background url(../img/promociones/Header_2.jpg) no-repeat center center
						background-size cover
					&.three
						background url(../img/promociones/Header_3.jpg) no-repeat center center
						background-size cover
		&.owl-theme
			.owl-dots
				position absolute
				bottom 50px
				left 0
				right 0
				text-align left
				max-width 1150px
				margin auto
				.owl-dot
					span
						width 15px
						height 15px
						background transparent
						border 2px solid #FFFFFF
					&.hover
					&.active
						span
							background #FFFFFF
	.cont-carousel
		z-index 10
		max-width 1150px
		center()
		padding-bottom 30px
		h2
			color #FFFFFF
			font-size 80px
			line-height 70px
			text-shadow 0px 3px 7px rgba(0, 0, 0, 0.35)
			margin 10px 0
			font-family $medium
			max-width 785px
		p
			color #FFFFFF
			font-size 30px
			max-width 600px
			line-height 30px
			text-shadow 0 3px 7px rgba(0,0,0,0.35)
		img
			width 100%
			max-width 135px
.mdl-promociones
	width 100%
	max-width 320px
	margin 20px
	display inline-block
	vertical-align top
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	text-decoration none !important
	cursor pointer
	&:hover
		.mdl-card__title
			.promocion-imagen
				transform scale(1.1)
	.mdl-card__title
		display block
		overflow hidden
		position relative
		height 150px
		margin 10px 10px 0 10px
		.promocion-imagen
			transition transform .2s linear
			background-size cover !important
			height 150px
			position absolute
			top 0
			left 0
			right 0
			&.one
				background url(../img/promociones/p1.jpg) no-repeat center center
			&.two
				background url(../img/promociones/p2.jpg) no-repeat center center
			&.three
				background url(../img/promociones/p3.jpg) no-repeat center center
			&.four
				background url(../img/promociones/p4.jpg) no-repeat center center
			&.five
				background url(../img/promociones/p5.jpg) no-repeat center center
			&.six
				background url(../img/promociones/p6.jpg) no-repeat center center
			&.seven
				background url(../img/promociones/p7.jpg) no-repeat center center
			&.eight
				background url(../img/promociones/p8.jpg) no-repeat center center
			&.nine
				background url(../img/promociones/p9.jpg) no-repeat center center
			&.ten
				background url(../img/promociones/p10.jpg) no-repeat center center
			&.eleven
				background url(../img/promociones/p11.jpg) no-repeat center center
			&.twelve
				background url(../img/promociones/p12.jpg) no-repeat center center
			&.thirteen
				background url(../img/promociones/p13.jpg) no-repeat center center
			&.fourteen
				background url(../img/promociones/p14.jpg) no-repeat center center
			&.fifteen
				background url(../img/promociones/p15.jpg) no-repeat center center
			&.sixteen
				background url(../img/promociones/p16.png) no-repeat center center
	.mdl-card__supporting-text
		padding 16px
		h2
			font-size 20px
			line-height 22px
			color #FFFFFF
			font-family $medium
			margin 0
			padding 10px
			&.one
				background-color #01A982
			&.two
				background-color $color
			&.three
				background-color #80746E
			&.four
				background-color #614767
			&.five
				background-color #FF8D6D
			&.six
				background-color #FF8300
			&.seven
				background-color #000000
		p
			font-size 16px
			line-height 20px
			color #000000
	.mdl-card__actions
		padding-top 0
		button
			box-shadow none
			text-transform initial
			background-color transparent
			color #FFFFFF
.seccion-promociones
	margin-top -60px
	text-align center
	margin-bottom 60px
#categoria
	height 450px
	overflow hidden
	padding 0
	position relative
	flexCenter()
	.header_categoria
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-size cover !important
		&:AFTER
			position absolute
			content ''
			top 0
			right 0
			left 0
			opacity 0.6
			z-index 2
			background-color $color
			width 100%
			height 100%
.search-filter
	flexCenter()
	background-color #FFFFFF
	width 100%
	max-width 600px
	z-index 2
	margin 0 15px
	&.home
		max-width 460px
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		text-align center
		margin auto
		height 45px
		.search-clear
			max-width 45px
			width 100%
	.search-categoria
		flexCenter()
		width 100%
		max-width 550px	
		.search-input
			width 100%
			.form-control
				font-size 18px
				box-shadow none
				border none
				padding 6px
		.search-clear
			button
				visibility hidden
		.search-icon
			i
				vertical-align middle
		button
			box-shadow none
			background-color transparent
			i
				font-size 30px
				line-height 32px
	.filter-categoria
		width 100%
		max-width 250px
		padding-left 15px
		.bootstrap-select
			width 100% !important
			button
				box-shadow none
				border none
				background-color transparent !important
				outline 0 !important
				font-size 18px
				border-radius 0
				border-left 1px solid #ccd3d3
				text-align right
				span
					text-align center !important
					color #757575
#productos
	margin 50px 0
#namePromocion
	margin 0
	margin-top 10px
	margin-bottom 20px
	font-size 40px
	line-height 42px
	font-family $medium
	text-align center
/*DATATABLE*/
.pagination
	&>li>a
		color $color
	&>.active
		&>a
		&>a:focus
			background-color $color
			border-color $color
			outline 0
/*TABLE-RESPONSIVE*/
.table-responsive
	border none
.dataTables_length
.dataTables_info
	text-align left !important
.dataTables_paginate
	text-align right !important
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
.card-login
	overflow inherit
	.mdl-card__supporting-text
		padding 16px
		overflow inherit
		.nav-tabs
			a
				color #000000
		.tab-content
			margin-top 20px
			.dropdown-menu
				&.inner
					max-height 285px !important
		.mdl-card__actions
			padding 20px 0 0 0
			button
				background-color $color
				color #FFFFFF
				text-transform initial
				font-family $medium
				font-size 16px
.return
	color $default !important
	text-decoration none !important
	vertical-align middle
	font-size 20px
	i
		vertical-align middle
		color $default
		margin-right 10px
.menu_desplegable
	button
		margin-top 7px
		background-color #FFFFFF !important
		color $color
		text-transform initial
		height 30px
		line-height 20px
		border-radius 20px
		font-family $medium
		i
			color $color
			vertical-align middle
			margin-right 5px
			font-size 20px
	.dropdown-menu
		right 0
		left inherit
		p
			padding 10px 16px
			color #000000
			font-size 20px
			margin 0
		.mdl-menu__item
			height 40px
			line-height 44px
			text-decoration none
			opacity 1
		.dropdown-menu__border
			border-right 1px solid #DDDDDD
.seccion-table
	margin-top -50px
.mdl-table
	width 100%
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	.mdl-card__supporting-text
		padding 16px
.modal-large
	width 100%
	margin 0
	.mdl-card
		width 100%
		max-width 600px
		margin auto
		padding 16px
		.mdl-card__title
			display block
			padding 0
			h2
				text-align center
				font-family $medium
				font-size 48px
			p
				font-size 26px
				text-decoration underline
		.mdl-card__supporting-text
			.conditions
				display none
				h2
					font-size 20px
					font-family $regular
					margin 5px 0
					line-height 24px
					color #000000
				p
					line-height 20px
					margin 8px 0
				ol
					padding-left 25px
					li
						padding-left 15px
.header_promocion
	p
		font-size 18px
		margin 3px 0
		strong
			display inline-block
			max-width 120px
			width 100%
	small
		text-decoration underline
		color $default
		font-size 20px
		cursor pointer
		margin 10px 0
		display inline-block
.header_promocion--iquote
	width 100%
	max-width 100px
	cursor pointer
.encabezado
	display none
.mdl-container__promocion
	flexCenter()
	align-items start
	.table-responsive
		max-width 550px
		width 100%
.mdl-card__iquote
	display inline-block
	max-width 120px
	width 100%
	margin 25px
	vertical-align top
	img
		width 100%
	a
		display inline-block
		margin 10px 0
		color #000000
		font-size 18px
		color $color
		font-family $medium
#ModalIquote
	.mdl-card
		width 100%
	p
		font-size 22px
		margin 20px auto
		max-width 600px
		text-align center
		a
			color $default
.promocion_categoria
	width 100%
	max-width 600px
	order 2
	background-size 320px !important
	height 750px
	position relative
	top 0
	left 0
	right 0
	img
		width 100%
.table_categoria
	order 1
		
.subcategoria
	border none
	background-color transparent !important
	td
		border none !important
		padding-top 25px !important
		strong
			font-family $medium
			font-size 18px
.click_here
	a
		color $default
		font-family $medium
		cursor pointer
.menu_principal
	margin-top 7px
	flexCenter()
	justify-content flex-end
	.md-button--search
		background-color #FFFFFF
		color $color
		min-width 30px
		width 30px
		height 30px
		margin 0
		display none
		i
			font-size 20px
			color $color
	.menu_desplegable
		button
			margin 0
.header--principal
	&.active
		.header__left
		.header__right
			opacity 1
#Ep1Terminos
#Ep4Terminos
	height  100vh
p.objective_comercial
	strong
		max-width 100%
	margin-bottom 10px
.button-instasale
	background-color $default !important
	text-transform initial
	border-radius 25px
	color #FFFFFF
	font-family $bold
	font-size 18px
.cont-carousel__contenido
	flexCenter()
	justify-content start
	margin 10px 0
	strong
		background-color $default
		border-radius 50%
		padding 15px
		vertical-align middle
		line-height 10px
		color #FFFFFF
		font-family $medium
		font-size 18px
		margin-right 12px
		box-shadow 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
	p
		margin 0
.logo-top
	position absolute
	right 0
	top 0
	z-index 5
	img
		width 100%
		max-width 285px
.logo-bottom
	position absolute
	right 20px
	bottom 50px
	z-index 5
	img
		width 100%
		max-width 140px
footer
	background-color #DDDDDD
	padding 20px
	p
		margin 0
		font-size 14px
		color #333333
		line-height 18px
	small
		font-size 16px
		a
			font-family $medium
			text-decoration underline
			color $color
@media ( max-width 1200px )
	#principal
		.owl-carousel
			&.owl-theme
				.owl-dots
					left 25px	
		.cont-carousel
			padding 0 25px 30px 25px
	.logo-bottom		
		img
			max-width 140px
@media ( max-width 1000px )
	.search-filter
		&.home
			visibility hidden
	.menu_principal
		.md-button--search
			display block
	.header--principal		
		.menu_desplegable
			max-width 95px
			.dropdown-menu
				.col-xs-12
					width 100%
	.header--principal
		&.active
			.search-filter
				visibility visible
			.header__left
			.header__right
				opacity 0
			.search-clear
				button
					visibility visible !important
	.logo-top
		img
			max-width 200px
@media ( max-width 768px )
	.mdl-card-login
		transformCenter()
		position absolute
		top 50%
		left 50%
		padding 0 25px
		.mdl-card__title
			h2
				font-size 34px
				margin 5px 0
			p
				font-size 18px
	.header img
		max-width 100px
@media ( max-width 600px )
	.mdl-container__promocion
		display block
	.menu_desplegable
		.dropdown-menu
			height 420px
			overflow-y scroll
	.header
		.menu_header
			p
				margin-right 10px
				padding-right 10px
			a
				&.home
					span
						display none
					i
						margin 0
	.logo-top
		display none
	.logo-bottom
		bottom 60px
		right 20px
		img
			max-width 85px
@media ( max-width 420px )
	.fixed-logo
		position relative
		top 25px
		left 25px
	.mdl-card-register
		margin 30px 0
		.mdl-card__supporting-text
			.col-md-7
			.col-md-5
				padding 0
			border 2px solid transparent
		margin 0
	#principal
		.cont-carousel
			h2
				font-size 42px
				line-height 40px
			p
				font-size 26px
				line-height 26px
				